<a href="https://colab.research.google.com/github/KUNALDEBNATH/projrct3/blob/main/car_buying_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [2]:
import numpy as np #for array
import pandas as pd #for data processing

from sklearn.model_selection import train_test_split  # func to split data into train and test
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data collection and Data processing

In [57]:
data = pd.read_csv('/content/data2 (1).csv', header=0)

In [58]:
data.head()

   Gender  Age    Country  Salary  WillBuyCar
0    Male   30        USA   60000           1
1  Female   35     Canada   75000           0
2    Male   28         UK   50000           0
3  Female   40  Australia   90000           1
4    Male   45    Germany   80000           1

In [50]:

#Number of rows and columns
data.shape

(40, 5)

In [51]:
data.describe() #gives mean and standerd deviation --> statistical measure

             Age         Salary
count  40.000000      40.000000
mean   35.100000   70750.000000
std     5.719064   17742.820867
min    28.000000   10000.000000
25%    30.000000   60000.000000
50%    34.000000   70000.000000
75%    40.000000   85000.000000
max    45.000000  100000.000000

In [59]:
data['WillBuyCar'].value_counts()#index is 0 to 59

1    23
0    17
Name: WillBuyCar, dtype: int64

In [60]:

#separating data and labels
X=data.drop(columns='WillBuyCar',axis=1)
X=X.drop(columns='Country',axis=1)
X=X.drop(columns='Gender',axis=1)
Y=data['WillBuyCar']

In [61]:

print(X)
print(Y)

    Age  Salary
0    30   60000
1    35   75000
2    28   50000
3    40   90000
4    45   80000
5    32   65000
6    38   70000
7    28   55000
8    42  100000
9    33   85000
10   30   60000
11   35   75000
12   28   50000
13   40   90000
14   45   80000
15   32   65000
16   38   70000
17   28   55000
18   42  100000
19   33   85000
20   30   60000
21   35   75000
22   28   50000
23   40   90000
24   45   80000
25   32   65000
26   38   70000
27   28   55000
28   42   10000
29   33   85000
30   30   60000
31   35   75000
32   28   50000
33   40   90000
34   45   80000
35   32   65000
36   38   70000
37   28   55000
38   42  100000
39   33   85000
0     1
1     0
2     0
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    0
12    0
13    1
14    1
15    0
16    1
17    0
18    1
19    1
20    1
21    0
22    1
23    1
24    1
25    0
26    0
27    0
28    0
29    1
30    1
31    0
32    0
33    1
34    1
35    1
36    0
37    0
38    1
39    1
Name: WillBuyCar, dtype: int64

In [62]:
#split Training and Test data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.15,stratify=Y,random_state=1)

In [63]:

print(X.shape, X_train, X_test)

print(X_train)

(40, 2)     Age  Salary
6    38   70000
3    40   90000
26   38   70000
22   28   50000
16   38   70000
10   30   60000
13   40   90000
31   35   75000
4    45   80000
23   40   90000
17   28   55000
1    35   75000
38   42  100000
7    28   55000
8    42  100000
24   45   80000
25   32   65000
36   38   70000
34   45   80000
15   32   65000
18   42  100000
39   33   85000
14   45   80000
11   35   75000
5    32   65000
2    28   50000
19   33   85000
30   30   60000
37   28   55000
29   33   85000
20   30   60000
21   35   75000
0    30   60000
32   28   50000     Age  Salary
28   42   10000
12   28   50000
27   28   55000
35   32   65000
9    33   85000
33   40   90000
    Age  Salary
6    38   70000
3    40   90000
26   38   70000
22   28   50000
16   38   70000
10   30   60000
13   40   90000
31   35   75000
4    45   80000
23   40   90000
17   28   55000
1    35   75000
38   42  100000
7    28   55000
8    42  100000
24   45   80000
25   32   65000
36   38   70000
34   45   80000
15   32   65000
18   42  100000
39   33   85000
14   45   80000
11   35   75000
5    32   65000
2    28   50000
19   33   85000
30   30   60000
37   28   55000
29   33   85000
20   30   60000
21   35   75000
0    30   60000
32   28   50000

In [64]:

print(X_train)
print(Y_train)

    Age  Salary
6    38   70000
3    40   90000
26   38   70000
22   28   50000
16   38   70000
10   30   60000
13   40   90000
31   35   75000
4    45   80000
23   40   90000
17   28   55000
1    35   75000
38   42  100000
7    28   55000
8    42  100000
24   45   80000
25   32   65000
36   38   70000
34   45   80000
15   32   65000
18   42  100000
39   33   85000
14   45   80000
11   35   75000
5    32   65000
2    28   50000
19   33   85000
30   30   60000
37   28   55000
29   33   85000
20   30   60000
21   35   75000
0    30   60000
32   28   50000
6     1
3     1
26    0
22    1
16    1
10    1
13    1
31    0
4     1
23    1
17    0
1     0
38    1
7     0
8     1
24    1
25    0
36    0
34    1
15    0
18    1
39    1
14    1
11    0
5     0
2     0
19    1
30    1
37    0
29    1
20    1
21    0
0     1
32    0
Name: WillBuyCar, dtype: int64

In [65]:
#Model training --> Logistic Regression
model =  LogisticRegression()

In [33]:
print(X_train)
print(Y_train)

    Age    Salary
6    38   $70,000
3    40   $90,000
26   38   $70,000
22   28   $50,000
16   38   $70,000
10   30   $60,000
13   40   $90,000
31   35   $75,000
4    45   $80,000
23   40   $90,000
17   28   $55,000
1    35   $75,000
38   42  $100,000
7    28   $55,000
8    42  $100,000
24   45   $80,000
25   32   $65,000
36   38   $70,000
34   45   $80,000
15   32   $65,000
18   42  $100,000
39   33   $85,000
14   45   $80,000
11   35   $75,000
5    32   $65,000
2    28   $50,000
19   33   $85,000
30   30   $60,000
37   28   $55,000
29   33   $85,000
20   30   $60,000
21   35   $75,000
0    30   $60,000
32   28   $50,000
6     1
3     1
26    0
22    1
16    1
10    1
13    1
31    0
4     1
23    1
17    0
1     0
38    1
7     0
8     1
24    1
25    0
36    0
34    1
15    0
18    1
39    1
14    1
11    0
5     0
2     0
19    1
30    1
37    0
29    1
20    1
21    0
0     1
32    0
Name: WillBuyCar, dtype: int64

In [44]:
#training the Logistic Regression model with training


print(X_train)
print(Y_train)
print(X_test)

    Age   Salary
6    38   70,000
3    40   90,000
26   38   70,000
22   28   50,000
16   38   70,000
10   30   60,000
13   40   90,000
31   35   75,000
4    45   80,000
23   40   90,000
17   28   55,000
1    35   75,000
38   42  100,000
7    28   55,000
8    42  100,000
24   45   80,000
25   32   65,000
36   38   70,000
34   45   80,000
15   32   65,000
18   42  100,000
39   33   85,000
14   45   80,000
11   35   75,000
5    32   65,000
2    28   50,000
19   33   85,000
30   30   60,000
37   28   55,000
29   33   85,000
20   30   60,000
21   35   75,000
0    30   60,000
32   28   50,000
6     1
3     1
26    0
22    1
16    1
10    1
13    1
31    0
4     1
23    1
17    0
1     0
38    1
7     0
8     1
24    1
25    0
36    0
34    1
15    0
18    1
39    1
14    1
11    0
5     0
2     0
19    1
30    1
37    0
29    1
20    1
21    0
0     1
32    0
Name: WillBuyCar, dtype: int64
    Age   Salary
28   42  100,000
12   28   50,000
27   28   55,000
35   32   65,000
9    33   85,000
33   40   90,000

In [66]:
model.fit(X_train,Y_train)

LogisticRegression()

In [68]:

# Make predictions on training data
X_train_prediction = model.predict(X_train)

# Calculate accuracy on training data
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

# Print the training data accuracy
print("Accuracy on training data:", training_data_accuracy)

Accuracy on training data: 0.6764705882352942

In [70]:
# Convert non-numerical columns to numerical values


# Make predictions on training data
X_test_prediction = model.predict(X_test)

# Calculate accuracy on training data
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

# Print the training data accuracy
print("Accuracy on training data:", test_data_accuracy)

Accuracy on training data: 0.8333333333333334

In [ ]:
print('accuracy on training data:',test_data_accuracy)

accuracy on training data: 0.7619047619047619

In [79]:
#making a predictive system
input_data = (42,100000)
#changing the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshape the np array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)
if(prediction[0]==1):
 print('man can buy car')
else:
  print('man cannot buy car')

[1]
man can buy car

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(